.form-wrapper{
    box-sizing: border-box;
}
.no-location{
    text-align: center;
    padding: 5px;
    color: red;
}
.no-location button{
    border-radius: 4px;
    background-color: #00264e ;
    padding: 0.3rem 1rem;
    margin: 12px 0px;
}