.sidenav-cont{
    min-height: 100vh;
    mat-sidenav{
    width: 250px;
    box-sizing: border-box;
    height: 100vh;
    position: fixed;
    padding: 15px 12px;
    border-radius: 0px;
}
mat-sidenav-content{
    padding-left: 10px;
}
}